.container-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.data-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

div {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 2rem;
}