.container-home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(../../assets/bg-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.routes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}