h2 {
  color: white;
}

h2,
h3:hover {
  cursor: pointer;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 130px;
  cursor: pointer;
}

.navbar h2,
h3 {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;

}

.navbar h2,
h3 {
  text-decoration: none;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1.2rem;
}

.navbar h3::before {
  content: "";
  height: 3px;
  width: 0%;
  background: yellowgreen;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.navbar h3:hover::before {
  width: 100%;
}